body,
html {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

nav {
  align-items: center;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1rem;
}

nav svg {
  margin-right: auto;
  height: 2rem;
  width: 2rem;
}

@media (min-width: 1200px) {
  nav svg {
    height: 3.5rem;
    width: 3.5rem;
  }
}

@media (hover: hover) {
  nav li:hover {
    background: rgba(255, 255, 255, 0.125);
    box-shadow: 4px 4px 8px -8px rgba(0, 0, 0, 0.5);
    transition: all 420ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  #cta:hover {
    transition: all 420ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
